DATABASE_URL=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

SCRAPER_SECRET=

BREVO_SMTP_HOST=
BREVO_SMTP_PORT=
BREVO_SMTP_USER=
BREVO_SMTP_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=

ALLOWED_EMAILS=
ADMIN_EMAIL=

GOOGLE_MAPS_URL=
